body {
  background-color: #2CE7E7;
}
h1 { 
  color: #40443E;
  text-align: center;
}
p {
  font-family: Georgia;
  font-size: 20px
}
ul.a {
  list-style-type: lower-alpha;
}
table.b, th.b, td.b {
    border: 1px solid black;
}
table.b {
   border-spacing: 5px;
}
h2 {
  color: #00cc00;
}
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

